# Auto detect text files and perform LF normalization
* text=auto

# Windows-specific: force LF in vcxproj files
*.vcxproj text eol=lf
*.vcxproj.filters text eol=lf
*.sln text eol=crlf
*.rc text eol=crlf
